---
layout: default
title: akoskm.com - Blog
---

<section class="posts">
  {% for post in site.posts %}
    {% if post.draft == false %}
    <div class="post-header">
        <span class="post-title">
          <h3>
          {% if post.type == "post"%}
            <a href="{{ post.url }}">
          {% endif %}
          {% if post.type == "3rdparty"%}
            <a href="{{ post.redirect }}">
          {% endif %}
              {{ post.title }}
            </a>
          </h3>
        </span>
        <span class="post-date">{{ post.date | date: "%-d %B, %Y" }}</small>
      </div>
    {% endif %}
  {% endfor %}
</section>
<section class="contact">
  <p>
    <a href="https://twitter.com/akoskm">Twitter</a> &bull;
    <a href="https://github.com/akoskm">GitHub</a> &bull;
    <a href="https://www.upwork.com/o/profiles/users/_~012ad77c4b0d832a53/">Upwork</a> &bull;
    <a href="https://www.linkedin.com/in/akoskm">LinkedIn</a>
  </p>
  <p>React & NodeJS Icons</a> by <a href="https://iconscout.com/contributors/vorillaz">Vorillaz</a> on <a href="https://iconscout.com">Iconscout</a></p>
</section>