---
layout: default
title: akoskm.com
---
<section class="about">
  <img src="assets/img/me.jpg" class="me"></img>
  <div>
    <p>Welcome to my personal blog!</p>
    <p>My name is Ákos, I'm a JavaScript engineer and I build web apps.</p>
    <p>Want to work together or have something to share?</p>
    <p>Feel free to contact me using <a href="https://forms.gle/tHXz7c61SBU54z5J6" target="_blank">this form</a>.</p>
  </div>
</section>
<section class="posts">
  {% for post in site.posts %}
    {% if post.draft == false %}
    <div class="post-header">
        <span class="post-title">
          <h3>
          {% if post.type == "post"%}
            <a href="{{ post.url }}">
          {% endif %}
          {% if post.type == "3rdparty"%}
            <a href="{{ post.redirect }}">
          {% endif %}
              {{ post.title }}
            </a>
          </h3>
        </span>
        <span class="post-date">{{ post.date | date: "%-d %B, %Y" }}</small>
      </div>
    {% endif %}
  {% endfor %}
</section>
<section class="contact">
  <p>
    <a href="https://twitter.com/akoskm">Twitter</a> &bull;
    <a href="https://github.com/akoskm">GitHub</a> &bull;
    <a href="https://www.upwork.com/o/profiles/users/_~012ad77c4b0d832a53/">Upwork</a> &bull;
    <a href="https://www.linkedin.com/in/akoskm">LinkedIn</a>
  </p>
</section>
