---
layout: default
---
<div class="post-header wrapped">
  <span class="post-title">
    <h1>
      {% if page.title %}
      <a href="{{ root_url }}{{ post.url }}">{{ page.title }}</a>
      {% endif %}
    </h1>
  </span>
  <span class="post-date">
    {{ page.date | date: "%-d %B, %Y" }} ~ {% include read_time.html %}
  </span>
</div>

{% if page.hero %}
  <div class="post-hero">
    <img src="{{ page.hero }}" alt="Hero Image"/>
    <div class="photo-credit wrapped">{{ page.hero_credit }}</div>
  </div>
{% endif %}
<div class="post-content wrapped">
  {{ content }}
</div>

<div class="post-footer wrapped">
  Follow me on Twitter <a href="https://twitter.com/akoskm">@akoskm</a>
</div>

<script src="/assets/js/prism.js"></script>